@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat.ttf");
}

$header-height: 60px;

$bg-color: #f7f7fb;
$bg-color-light: #fff;
$primary-color: #2364AA;
$secondary-color: #f2bc02;
$secondary-color-dark: #e0ae01;
$input-color: #f4f4fa;
$input-color-dark: #eaecf8;
$font-color: #383838;
$font-color-light: #fcfcfc;
$input-placeholder-color: #aaaeb1;
$error-color: #f37d77;
$bg-error-color: #fbf5f6;

$border: 1px solid var(--Grey, #dde2e5);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $font-color;
}

html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: $bg-color;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.header {
  height: $header-height;
  background-color: $primary-color;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: $font-color-light;
  }
}

.main {
  height: calc(100% - $header-height);

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form {
  min-width: 300px;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: $border;
  background-color: $bg-color-light;

  &__header {
    padding-bottom: 40px;
  }
}

.textfield {
  position: relative;
  margin-bottom: 10px;

  &:focus-within {
    .textfield__input, .textfield__textarea {
      background-color: $input-color-dark;
    }

    .textfield__label {
      color: $primary-color;
    }
  }

  &__label {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 0.8em;
  }

  &__input, &__textarea {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 28px 16px 8px 16px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: $input-color;
    font-size: 1em;

    &::placeholder {
      font-size: 1rem;
      color: $input-placeholder-color;
    }
  }

  &__textarea {
    max-width: 400px;
    min-width: 200px;
    max-height: 400px;
    min-height: 70px;
  }

  &__error-text {
    color: $error-color;
    visibility: hidden;
    font-size: 0.8em;
  }

  &-error {
    .textfield__label {
      color: $error-color;
    }

    .textfield__input, .textfield__textarea {
      background-color: $bg-error-color;
    }

    .textfield__error-text {
      visibility: visible;
    }
  }
}

.button {
  padding: 15px;
  background-color: $secondary-color;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5em;

  &:active {
    background-color: $secondary-color-dark;
  }
}